.main-section{
    height: 100vh;
    background-color: #153243;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-section h1{
    font-size: 80px;
    color: #B4B8AB;
    
    
}

.main-section h2{
    font-size: 60px;
    color: #B4B8AB;
}

span{
    color: #E0EDF5;
}

/* extra section */

.avatar-img{
    height: 250px;
    padding-top: 5em;
    border-radius: 150px;
    
}

.banner-text{
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
}

.banner-text h1{
    font-size: 66px;
    font-weight: bold;
    color: white;
}

.banner-text hr{
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text p{
    color: white;
    font-size: 20px;
    padding: 1em;
    display: flex;
    justify-content: center;
}