.main-section{
    height: 100vh;
    background-color: #153243;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 80px;
    color: #B4B8AB;
    
    
}

h2{
    font-size: 60px;
    color: #B4B8AB;
}

span{
    color: white;
}

